<html>

<head>
    <title>Add Equipment</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>

<body>
    <a href="http://localhost:8080">Home</a>
    <div>
        <form method="post" action="equipments">
            <select class="form-control" id="firma" name="firmName">
                {{#firmas}}
                <option>{{.}}</option>
                {{/firmas}}
            </select><br>
            <input type="text" name="myModel" placeholder="Model"></br>
            <select class="form-control" id="model" name="type">
                {{#types}}
                <option>{{.}}</option>
                {{/types}}
            </select><br>
            <button type="submit">Add</button>
        </form>
    </div>

    <div>Addition</div>
    {{#equipments}}
    <div>
        <b>{{id}}</b>
        <span>{{firmName}}</span>
        <span>{{model}}</span>
        <i>{{type}}</i>
    </div>
    {{/equipments}}
</body>
</html>
